.login-signup{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  gap: 8px;
  background-image: url('./../../Assets/login-page-bg-img.jpg');
  background-size: cover;
  padding: 0 10px;
}
.login-signup h2{
  font-size: 3rem;
  margin-bottom: 40px;
}
.input-field{
  background-color: white;
  height: 55%;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.input-field input{
  width: 300px;
  height: 45px;
  font-size: 14px;
  padding: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #eeeeee;

}
.error-msg{
  text-align: center;
  font-size: 15px;
}
.submit-btn{
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: #4DB5F9;
  color: white;
  font-weight: 700;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 15px;
  align-items: center;
  
}
.togglebtn{
  padding: 30px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.togglebtn button{
  font-size: 14px;
  border: none;
  padding: 5px;
  cursor: pointer;
  background-color: white;
  color: #385185;
}
.login-tagline{
  padding: 25px;
  font-size: 1.7rem;
  color: goldenrod;
  font-weight: 700;
  word-spacing: 5px;
  white-space: none;
}
@media screen and (max-width: 650px) {
   .login-tagline{
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 500px) {
.login-signup h2{
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.input-field{
  height: 45%;
  width: 90%;
}
.input-field input{
  width: 250px;
  height: 45px;
  font-size: 14px;
}
.error-msg{
  font-size: 12px;
}
.submit-btn{
  width: 250px;
  padding: 10px;
  font-size: 15px;
}
.togglebtn{
  width: 90%;
  height: 10%;
}
.login-tagline{
  padding: 25px 0;
  font-size: 0.9rem;
}
}