.error-msg{
  color:  red;
  margin-top: 150px;
  font-size: 1rem;
}
.content-container{
  margin-top: 6.5rem;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  font-family: "Roboto","Arial",sans-serif;
}
.video-content{
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  padding: 5px;
}
.video-thumbnail-iframe{
  height: 200px;
  background-color: var(--video-thumbnail-iframe);
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.channel-profile-img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.video-text{
  display: flex;
  gap: 15px;
  width: 350px;
  height: 100px;
  padding: 10px;
  background-color: var(--video-thumbnail-iframe);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  
}
/* -------------------- */

.video-thumbnail{
  position: relative;
  /* pointer-events: none;  this changed */
}

.hide-logo {
  position: absolute;
  bottom: 5px;
  right: 45px;
  width: 80px; /* Adjust based on logo size */
  height: 35px;
  background-color: rgba(60, 255, 0, 0.401); /* Match your background */
  z-index: -0;
  user-select: none;
}

/* ---------------------- */
.text-info{
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.text-info-video-title {
  font-size: 16px;
  color: var(--text-color);
  margin-bottom: 3px;
  display: -webkit-box; /* Use flexbox-like behavior for text */
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical; /* Specify vertical orientation */
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis; /* Add ellipsis (...) to truncated text */
  line-height: 1.2; /* Adjust line height for better readability */
  max-height: 3rem; /* Ensure height corresponds to two lines */
}

.text-info-channel-name{
  color: var(--text-color);
  font-size: 13px;
}
.text-info-video-upload-date{
  font-size: 13px;
  color: var(--text-color);
}

.loader{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 30px;
  width: 30px;
  background-color: red;
  color: green;

}

/* footer section */
.footer-section{
  position: absolute;
  height: 80px;
  background-color: var(--footer-bg-color);
  width: 100%;
  color: var(--text-color);
  font-size: 12px;
  font-weight: 600;
  align-items: center;
  display: flex;
  bottom: 0;
  justify-content: center;
}
.footer-section i{
  padding: 0 5px;
}

@media screen and (max-width: 500px) {
  .error-msg{
    font-size: 15px;
  }
  .content-container{
    padding: 0px 0;
  }
  .video-content{
    margin: auto;
    padding: 10px 0;
  }
  .channel-profile-img{
    height: 40px;
    width: 40px;
  }
  .video-text{
    width: 350px;
    height: 100px;
  }
  .text-info-video-title{
    font-size: 14px;
    font-weight: bold;
  }
  .text-info-channel-name{
    font-size: 12px;
  }
  .text-info-video-upload-date{
    font-size: 12px;
  } 
}


@media screen and (max-width: 800px) {
  .footer-section{
    font-size: 12px;
  } 
}
@media screen and (max-width: 500px) {
  .footer-section{
    font-size: 8px;
  }
  
}