.nav-section{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  /* position: fixed; */
}
.navbar{
  height: 4.5rem;
  background-color: #0F0F0F;
  padding: 5px 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid red;
  align-items: center;
}
.nav-home{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
}
.nav-home-img{
  height: 35px;
  width: 35px;
  border-radius: 5px;
}
.nav-home-h1{
  color: white;
  font-size: 2.6vw;
}
.nav-search{
  height: 50px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.nav-search-input{
  border: none;
  font-size: 1vw;
  outline: none;
  width: 80%;
  height: 45px;
  padding: 5px 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.nav-search-button{
  height: 45px;
  width: 15%;
  background-color: orangered;
  outline: none;
  border: none;
  color: white;
  font-size: 1.5vw;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.nav-profile{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  gap: 30px;
}
.nav-profile-img{
  height: 3vw;
  width: 3vw;
  border-radius: 50%;
  background-size: cover;
}

@media (max-width: 500px) {
  .navbar{
  height: 4rem;
  width: 100%;
  border-bottom: 1px solid red;
  padding: 5px;
  }
  .nav-home-img{
    height: 25px;
    width: 25px;
  }
  .nav-home-h1{
    font-size: 5vw;
  }
  .nav-search{
    width: 90%;
  }
  .nav-search-input{
    font-size: 3vw;
    width: 90%;
    padding: 5px 10px;
    height: 30px;
  }
  .nav-search-button{
    height: 30px;
    width: 25%;
    cursor: pointer;
    font-size: 4vw;
  }
  .nav-profile-img{
    height: 8.5vw;
    width: 8.5vw;
  }
}
