.nav-section{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  /* position: fixed; */
}
.navbar{
  height: 4.5rem;
  background-color: #0F0F0F;
  padding: 5px 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-home{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
}
.nav-home-img{
  height: 35px;
  width: 35px;
  border-radius: 5px;
}
.nav-home-h1{
  color: white;
  font-size: 2.6vw;
}
.nav-search{
  height: 50px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.nav-search-input{
  border: none;
  font-size: 1vw;
  outline: none;
  width: 80%;
  height: 45px;
  padding: 5px 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.nav-search-button{
  height: 45px;
  width: 15%;
  background-color: orangered;
  outline: none;
  border: none;
  color: white;
  font-size: 1.5vw;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.nav-profile{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  gap: 30px;
}
.nav-profile-img{
  height: 3vw;
  width: 3vw;
  border-radius: 50%;
  background-size: cover;
}
.sub-nav{
  background-color: rgb(56, 54, 54);
  background-color: #0F0F0F;
  height: 19px;
  border-top: 1px solid red;
  color: white;
  display: flex;
  align-items: center;
  width: 100%;
}
.sub-nav-span{
  cursor: pointer;
  font-size: 1.1vw;
  font-weight: 600;
  padding: 5px;
  margin: 0 auto;
}
.sub-nav-i{
  font-size: 1.2vw;
  padding: 5px 10px;
}
@media (max-width: 800px) {
  .navbar{
    height: 3.5rem;
  }
  .nav-home-h1{
    font-size: 3.5vw;
  }
  .nav-search{
    height: 50px;
    width: 60%;
    padding: 5px;
  }
  .nav-search-input{
    font-size: 1.5vw;
    width: 60%;
    height: 35px;
  }
  .nav-search-button{
    height: 35px;
    width: 15%;
    cursor: pointer;
    font-size: 2vw;
  }
  .nav-profile-img{
    height: 5vw;
    width: 5vw;
  }
  .sub-nav{
    height: 17px;
  }
  .sub-nav-span{
    font-size: 1.9vw;
    font-weight: 500;
  }
  .sub-nav-i{
    font-size: 1.6vw;
    padding: 5px 10px;
  }
}
