@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* dark theme color */
:root{
  --page-bg-color: #0F0F0F;
  --text-color: #fff;
  --nav-search-input-color: #fff;
  --video-thumbnail-iframe: #1e1e1e96;
  --hover-color: #b1b1b1c7;
  --footer-bg-color: black;
}

/* light theme color*/
.light-theme{
  --page-bg-color: #fff;
  --text-color: #111;
  --nav-search-input-color: rgb(230, 230, 230);
  --video-thumbnail-iframe: rgb(233, 233, 233);
  --hover-color: rgb(223, 221, 221);
  --footer-bg-color: rgb(207, 207, 207);
}

body {
  font-family: 'Playfair Display', serif;
  background-color: var(--page-bg-color);
}
